extends layout

block content
  h1 Anchorage
  p Welcome, to create a room, click 
    a(href="/create") here
  p List of created rooms:
    ul
      each room in rooms
        li
          a(href="/room/" + room)= room
